
h1 {
    background-image: url(https://image.shutterstock.com/image-vector/abstract-pink-cow-texture-design-260nw-339333632.jpg);
    opacity: 0.7;
    color: rgb(0, 0, 0);
    background-color:lightpink;
    font-weight: 700;
}
h2 {
    background-image: url(https://image.shutterstock.com/image-vector/abstract-pink-cow-texture-design-260nw-339333632.jpg);
    opacity: 0.7;
    color: rgb(0, 0, 0);
    background-color:lightpink;
    text-align: center;
    text-decoration: underline;
}

header {
    text-align: center;
}

body {
    background-color: #f5a9b5;
    color: rgb(27, 1, 22);
}

div {
    text-align: center;
    align-content: center;  
}

img {
    width: 400px;
    align-items: center;
}

table, th, td {
    border: 2px solid black;
  }

  .centered {
      margin-left: auto;
      margin-right: auto;
  }

blockquote {
    font-style: italic;
}

.indent {
    text-indent:7ch;
}

nav {
    background-image: url(https://image.shutterstock.com/image-vector/abstract-pink-cow-texture-design-260nw-339333632.jpg);
    opacity: 0.7;
    color: rgb(0, 0, 0);
    background-color:lightpink;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}


